<div class="row" id="search">
  <div class="span16">
    <script type="text/x-handlebars">
      {{view Coliseum.SearchView placeholder="What do you want to watch today?" class="search-query"}}
    </script>
  </div>
</div>

<div class="row">
  <div class="span8">
    <script type="text/x-handlebars">
      <div id="results">
        {{#if Coliseum.resultsController.content}}
          <h3>Search results</h3>
          <table class='zebra-striped'>
            {{#collection contentBinding="Coliseum.resultsController"}}
              {{#view Coliseum.VideoResultView videoBinding="content" tagName="tr"}}
                <td class='title'>{{video.title}}</td>
                <td class='time'>{{video.length}}</td>
              {{/view}}
            {{/collection}}
          </table>
        {{/if}}
      </div>
    </script>
  </div>

  <div class="span8">
    <script type="text/x-handlebars">
      <div id="player">
        <h3>{{Coliseum.Player.video.title}}</h3>
        <iframe width="450" height="275" {{bindAttr src="Coliseum.Player.videoUrl"}} frameborder="0" allowfullscreen></iframe>
        <h4>Comments</h4>
        {{view Coliseum.NewCommentView placeholder="Your comment" valueBinding="Coliseum.commentsList.comment"}}
        {{#collection contentBinding="Coliseum.commentsList" itemClass="comment"}}
          {{content.body}}
        {{/collection}}
      </div>
    </script>
  </div>
</div>

