<div class="row" id="search">
  <div class="span8">
    <script type="text/x-handlebars">
      {{view Coliseum.SearchView placeholder="What do you want to watch today?"}}
      {{#collection contentBinding="Coliseum.resultsController" id="results" itemClass="video"}}
        <img {{bindAttr src="content.imageUrl"}}/>
        <strong>{{content.title}}</strong>
        <p>{{content.length}}</p>
        {{#view Coliseum.WatchButton class="btn" videoBinding="content"}}
          Watch
        {{/view}}
      {{/collection}}
    </script>
  </div>

  <div class="span8">
    <script type="text/x-handlebars">
      <div id="player">
        <iframe width="450" height="275" {{bindAttr src="Coliseum.Player.videoUrl"}} frameborder="0" allowfullscreen></iframe>
        <h3>Comments</h3>
        {{view Coliseum.NewCommentView placeholder="Your comment" valueBinding="Coliseum.commentsList.comment"}}
        {{#collection contentBinding="Coliseum.commentsList" itemClass="comment"}}
          <p>{{content.body}}</p>
        {{/collection}}
      </div>

      <div id="player-note">
        Please choose video to play and comment on.
      </div>
    </script>
  </div>
</div>

