<script type="text/x-handlebars">
  <div class="row">
    {{view Coliseum.SearchView class="span8"}}
    {{view Coliseum.DetailsView class="span8"}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="search-view">
  <h3>Search on Youtube</h3>
  {{view Coliseum.SearchBar placeholder="Search keyword" id="search-field"}}

  <table id="search-results" class="zebra-striped">
    {{#each results}}
      {{#view Coliseum.ResultView videoBinding="this" tagName="tr"}}
        <td>{{video.title}}</td>
        <td class="time">{{video.length}}</td>
      {{/view}}
    {{/each}}
  </table>
</script>

<script type="text/x-handlebars" data-template-name="details-view">
  <h3>{{viewTitle}}</h3>
  <iframe width="450" height="275" {{bindAttr src="videoUrl"}} frameborder="0" allowfullscreen></iframe>
</script>
