<div class="row" id="search">
  <div class="span8">
    <script type="text/x-handlebars">
      {{view Coliseum.SearchView placeholder="What do you want to watch today?"}}

      <div id="results">
        <h3>Search results</h3>
        {{#if Coliseum.resultsController.content}}
          <table class='zebra-striped'>
            {{#collection contentBinding="Coliseum.resultsController"}}
              {{#view Coliseum.VideoResultView videoBinding="content" tagName="tr"}}
                <td class='title'>{{video.title}}</td>
                <td class='time'>{{video.length}}</td>
              {{/view}}
            {{/collection}}
          </table>
        {{else}}
          Nothing found yet.
        {{/if}}
      </div>
    </script>
  </div>

  <div class="span8">
    <script type="text/x-handlebars">
      <div id="player">
        <iframe width="450" height="275" {{bindAttr src="Coliseum.Player.videoUrl"}} frameborder="0" allowfullscreen></iframe>
        <h3>Comments</h3>
        {{view Coliseum.NewCommentView placeholder="Your comment" valueBinding="Coliseum.commentsList.comment"}}
        {{#collection contentBinding="Coliseum.commentsList" itemClass="comment"}}
          <p>{{content.body}}</p>
        {{/collection}}
      </div>

      <div id="player-note">
        Please choose video to play and comment on.
      </div>
    </script>
  </div>
</div>

