body {
  margin-top: 40px;
}

#search input {
  width: 450px;
}

#results {
  margin-top: 20px;

  tr {
    cursor: pointer;
    .time { width: 30px; }
  }
}

#player {
  display: none;
}
#player-note {
  display: block;
}
