body {
  margin-top: 60px;
}

#search-field, #comment-field {
  margin-bottom: 20px;
  width: 450px;
}

#search-results {
  tr {
    cursor: pointer;
    .time { width: 30px; }
  }
}

#player {
  display: none;

  h3 {
    overflow: hidden;
    height: 4ex;
  }

  input {
    width: 450px;
  }

  .comment {
    padding: 5px;
    margin: 5px 0;
  }
}

