<div class="topbar">
  <div class="fill">
    <div class="container">
      <%= link_to "Coliseum", :root, :class => 'brand' %>
      <ul class="nav">
        <li><%= link_to "Home", "#" %></li>
        <li><%= link_to "Explore", "#" %></li>
      </ul>
    </div>
  </div>
</div>
